html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Manjari', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 56px;
  color: #f2f2f2;
  margin: 0;
  font-weight: bold;
}

h2 {
  font-size: 28px;
  color: #f2f2f2;
  font-weight: 500;
  margin: 0;
}

p {
  font-size: 12.5px;
  color: #333333;
  font-weight: normal;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
